<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="css/bootstrap.min.css" rel="stylesheet"></link>
<link href="css/search.css" rel="stylesheet"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">
	function ChangeTab(tabname) {
		// 全部消す
		document.getElementById('tab1').style.display = 'none';
		document.getElementById('tab2').style.display = 'none';
		// 指定箇所のみ表示
		document.getElementById(tabname).style.display = 'block';
	}
</script>

<meta charset="UTF-8" />
<title th:text="${search_text}+'-Wow検索'"></title>
</head>
<body bgcolor="#CCCCCC">
	<div th:replace="common/header :: header"></div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="search_text">
					<span th:text="${search_text}"></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="tabbox" style="float: center">
					<p class="tabs">
						<a href="#tab1" class="tab1"
							onclick="ChangeTab('tab1'); return false;">ツイート<br></br> <span
							th:text="${count_tweet}"></span></a> <a href="#tab2" class="tab2"
							onclick="ChangeTab('tab2'); return false;">ユーザー名<br></br> <span
							th:text="${count_follow}"></span></a>
					</p>
					<div id="tab1" class="tab">
						<section class="card" th:each="search_tweet:${search_tweet}"
							style="float: center">
							<form action="timeLine/profile" method="POST">
								<div class="card-title">
									<span th:text="${search_tweet.user.userName}"></span>
									<input type="submit" name="timeLine_user_id" th:value="${search_tweet.userId}" />
									<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
								</div>
							</form>
							<div class="card-content">
								<a th:text="${search_tweet.detail}">detail</a> <input
									type="hidden" name="button_id"
									th:value="${search_tweet.tweetId}" />
							</div>
							<div class="card-button" style="display: inline-flex">
								<a><input type="submit" name="reply" value="⇒" /></a> <a><input
									type="submit" name="retweet" value="⇔" /></a>
								<form action="profile/favorite" method="POST">
									<a><input type="submit" name="favorite" value="☆" /></a> <input
										type="hidden" name="favorite_tweet_id"
										th:value="${search_tweet.tweetId}" />
										<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
								</form>
								<a><input type="submit" name="block" value="🚫" /></a>
							</div>
						</section>
					</div>
					<div id="tab2" class="tab">
						<form action="search" method="POST">
							<section class="profile_card"
								th:each="search_user:${search_user}">
								<div class="profile_card-name">
									<a th:text="${search_user.userName}"></a>
								</div>
								<div class="profile_card-id">
									<input type="submit" name="user_id"
										th:value="${search_user.userId}" />
									<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
								</div>
								<div class="profile_card-profile">
									<a th:text="${search_user.profile}"></a>
								</div>
							</section>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		// デフォルトのタブを選択
		ChangeTab('tab1');
	</script>

</body>
</html>