<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="css/bootstrap.min.css" rel="stylesheet"></link>
<link href="css/profile.css" rel="stylesheet"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">
	function ChangeTab(tabname) {
		// 全部消す
		document.getElementById('tab1').style.display = 'none';
		document.getElementById('tab2').style.display = 'none';
		document.getElementById('tab3').style.display = 'none';
		document.getElementById('tab4').style.display = 'none';
		document.getElementById('tab5').style.display = 'none';
		// 指定箇所のみ表示
		document.getElementById(tabname).style.display = 'block';
	}
</script>
<meta charset="UTF-8" />

<title th:text="${user.userName}+'(@'+${user.userId} +')さん'"></title>
</head>
<body bgcolor="#cccccc">
	<div th:replace="common/header :: header"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<form action="profile" method="POST">
					<section class="user_card" th:each="user:${user}"
						style="float: center">
						<div class="user_card-name">
							<a th:text="${user.userName}"></a>
						</div>
						<div class="user_card-id">
							<input type="submit" name="follow_user_id"
								th:value="${user.userId}" /> <input type="hidden"
								th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						</div>
						<div class="user_card-profile">
							<a th:text="${user.profile}"></a>
						</div>
					</section>
				</form>
			</div>
			<div class="col-md-6">
				<div class="tabbox" style="float: center">
					<p class="tabs">
						<a href="#tab1" class="tab1"
							onclick="ChangeTab('tab1'); return false;">ツイート<br></br> <span
							th:text="${count_tweet}"></span></a> <a href="#tab2" class="tab2"
							onclick="ChangeTab('tab2'); return false;">フォロー<br></br> <span
							th:text="${count_follow}"></span></a> <a href="#tab3" class="tab3"
							onclick="ChangeTab('tab3'); return false;">フォロワー<br></br> <span
							th:text="${count_follower}"></span></a> <a href="#tab4" class="tab4"
							onclick="ChangeTab('tab4'); return false;">いいね<br></br> <span
							th:text="${count_favorite}"></span></a> <a href="#tab5" class="tab5"
							onclick="ChangeTab('tab5'); return false;">メディア</a>
					</p>
					<div id="tab1" class="tab">
						<section class="card" th:each="tweet:${tweet}">
					<div th:if="${tweet.retweetId}">
					<form action="timeLine/profile" method="POST">
						<div class="card-title">
							<div th:if="${tweet.retweetId}">
							<span th:text="${tweet.user.userName}+'さんがリツイートしました'"></span>
							</div>
							<span th:text="${tweet.retweet.user.userName}"></span> <input
								type="submit" name="timeLine_user_id"
								th:value="${tweet.retweet.user.userId}" /> <input type="hidden"
								th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						</div>
					</form>
					<div class="card-content">
						<a th:text="${tweet.retweet.detail}">detail</a> <input type="hidden"
							name="button_id" th:value="${tweet.retweetId}" />
					</div>
					<div class="card-button" style="display: inline-flex">
						<button type="submit" data-toggle="modal" data-target="#modal">⇒</button>

						<!-- 2.モーダルの配置 -->
						<div class="modal" id="modal" tabindex="-1">
							<div class="modal-dialog">
								<!-- 3.モーダルのコンテンツ -->
								<div class="modal-content">
									<!-- 4.モーダルのヘッダ -->
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">
											<span aria-hidden="true">&times;</span>
										</button>
										<h4 class="modal-title" id="modal-label">
											<!-- <label for="recipient-name" class="control-label" id="recipient-name"></label>-->
											<span th:text="'@'+${tweet.retweet.user.userId}+'さんへの返信'"></span>
										</h4>
									</div>
									<!-- 5.モーダルのボディ -->
									<div class="modal-body">
										<textarea rows="3" class="form-control" id="recipient-name"
											name="tweet" th:text="'@'+${tweet.retweet.user.userId}"></textarea>
									</div>
									<!-- 6.モーダルのフッタ -->
									<div class="modal-footer">
										<button type="submit" class="btn btn-primary">ツイート</button>
										<input type="hidden" th:name="${_csrf.parameterName}"
											th:value="${_csrf.token}" />
									</div>
								</div>
							</div>
						</div>
						<div th:switch="${tweet.userId}">
							<form action="timeLine/remove" method="POST">
								<a><input type="submit" name="remove" value="×" th:case="${login_user.userId}"/></a>
								<input type="hidden" name="remove_id" th:value="${tweet.tweetId}" />
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
							</form>
							<form action="timeLine/retweet" method="POST">
								<a><input type="submit" name="retweet" value="⇔" th:case="*"/></a>
								<input type="hidden" name="retweet_id" th:value="${tweet.retweetId}" />
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
							</form>
						</div>
						<form action="timeLine/favorite" method="POST">
							<a><input type="submit" name="favorite" value="☆" /></a> <input
								type="hidden" name="favorite_tweet_id"
								th:value="${tweet.retweetId}" /> <input type="hidden"
								th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						</form>
						<form action="timeLine/block" method="POST">
							<a><input type="submit" name="block" value="🚫" /></a> <input
								type="hidden" name="block_user_id" th:value="${tweet.retweet.user.userId}" />
						</form>
					</div>
					</div>
					<div th:unless="${tweet.retweetId}">
					<form action="timeLine/profile" method="POST">
						<div class="card-title">
							<span th:text="${tweet.user.userName}"></span> <input
								type="submit" name="timeLine_user_id"
								th:value="${tweet.userId}" /> <input type="hidden"
								th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						</div>
					</form>
					<div class="card-content">
						<a th:text="${tweet.detail}">detail</a> <input type="hidden"
							name="button_id" th:value="${tweet.tweetId}" />
					</div>
					<div class="card-button" style="display: inline-flex">
						<button type="submit" data-toggle="modal" data-target="#modal">⇒</button>

						<!-- 2.モーダルの配置 -->
						<div class="modal" id="modal" tabindex="-1">
							<div class="modal-dialog">
								<!-- 3.モーダルのコンテンツ -->
								<div class="modal-content">
									<!-- 4.モーダルのヘッダ -->
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">
											<span aria-hidden="true">&times;</span>
										</button>
										<h4 class="modal-title" id="modal-label">
											<!-- <label for="recipient-name" class="control-label" id="recipient-name"></label>-->
											<span th:text="'@'+${tweet.userId}+'さんへの返信'"></span>
										</h4>
									</div>
									<!-- 5.モーダルのボディ -->
									<div class="modal-body">
										<textarea rows="3" class="form-control" id="recipient-name"
											name="tweet" th:text="'@'+${tweet.userId}"></textarea>
									</div>
									<!-- 6.モーダルのフッタ -->
									<div class="modal-footer">
										<button type="submit" class="btn btn-primary">ツイート</button>
										<input type="hidden" th:name="${_csrf.parameterName}"
											th:value="${_csrf.token}" />
									</div>
								</div>
							</div>
						</div>
						<!--<script type="text/javascript">
							$('#modal')
									.on(
											'show.bs.modal',
											function(event) {
												var button = $(event.relatedTarget) //モーダルを呼び出すときに使われたボタンを取得
												var recipient = button
														.data('id') //data-whatever の値を取得

												//Ajaxの処理はここに

												var modal = $(this) //モーダルを取得
												modal
														.find('.modal-title')
														.text(
																'@'
																		+ recipient
																		+ 'さんへの返信') //モーダルのタイトルに値を表示
												modal
														.find(
																'.modal-body textarea#recipient-name')
														.val('@'+recipient) //inputタグにも表示
											})
						</script>-->
						<form action="timeLine/retweet" method="POST">
							<a><input type="submit" name="retweet" value="⇔" /></a> <input
								type="hidden" name="retweet_id" th:value="${tweet.tweetId}" />
						</form>
						<form action="timeLine/favorite" method="POST">
							<a><input type="submit" name="favorite" value="☆" /></a> <input
								type="hidden" name="favorite_tweet_id"
								th:value="${tweet.tweetId}" /> <input type="hidden"
								th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						</form>
						<div th:switch="${tweet.userId}">
							<form action="timeLine/remove" method="POST">
								<a><input type="submit" name="remove" value="×" th:case="${login_user.userId}"/></a>
								<input type="hidden" name="remove_id" th:value="${tweet.tweetId}"/>
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
							</form>
							<form action="timeLine/block" method="POST">
								<a><input type="submit" name="block" value="🚫" th:case="*"/></a> 
								<input type="hidden" name="block_user_id" th:value="${tweet.userId}" />
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
							</form>
						</div>
						</div>
					</div>
				</section>
					</div>
					<div id="tab2" class="tab">
						<form action="profile" method="POST">
							<section class="profile_card" th:each="follow:${follow}"
								style="float: center">
								<div class="profile_card-name">
									<a th:text="${follow.userName}"></a>
								</div>
								<div class="profile_card-id">
									<input type="submit" name="follow_user_id"
										th:value="${follow.userId}" /> <input type="hidden"
										th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
								</div>
								<div class="profile_card-profile">
									<a th:text="${follow.profile}"></a>
								</div>
							</section>
						</form>
					</div>
					<div id="tab3" class="tab">
						<form action="profile" method="POST">
							<section class="profile_card" th:each="follower:${follower}"
								style="float: center">
								<div class="profile_card-name">
									<a th:text="${follower.userName}"></a>
								</div>
								<div class="profile_card-id">
									<input type="submit" name="follow_user_id"
										th:value="${follower.userId}" /> <input type="hidden"
										th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
								</div>
								<div class="profile_card-profile">
									<a th:text="${follower.profile}"></a>
								</div>
							</section>
						</form>
					</div>
					<div id="tab4" class="tab">
						<section class="card" th:each="favorite:${favorite}">
					<div th:if="${favorite.retweetId}">
					<form action="timeLine/profile" method="POST">
						<div class="card-title">
							<div th:if="${favorite.retweetId}">
							<span th:text="${favorite.user.userName}+'さんがリツイートしました'"></span>
							</div>
							<span th:text="${favorite.retweet.user.userName}"></span> <input
								type="submit" name="timeLine_user_id"
								th:value="${favorite.retweet.user.userId}" /> <input type="hidden"
								th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						</div>
					</form>
					<div class="card-content">
						<a th:text="${favorite.retweet.detail}">detail</a> <input type="hidden"
							name="button_id" th:value="${favorite.retweetId}" />
					</div>
					<div class="card-button" style="display: inline-flex">
						<button type="submit" data-toggle="modal" data-target="#modal">⇒</button>

						<!-- 2.モーダルの配置 -->
						<div class="modal" id="modal" tabindex="-1">
							<div class="modal-dialog">
								<!-- 3.モーダルのコンテンツ -->
								<div class="modal-content">
									<!-- 4.モーダルのヘッダ -->
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">
											<span aria-hidden="true">&times;</span>
										</button>
										<h4 class="modal-title" id="modal-label">
											<!-- <label for="recipient-name" class="control-label" id="recipient-name"></label>-->
											<span th:text="'@'+${favorite.retweet.user.userId}+'さんへの返信'"></span>
										</h4>
									</div>
									<!-- 5.モーダルのボディ -->
									<div class="modal-body">
										<textarea rows="3" class="form-control" id="recipient-name"
											name="tweet" th:text="'@'+${favorite.retweet.user.userId}"></textarea>
									</div>
									<!-- 6.モーダルのフッタ -->
									<div class="modal-footer">
										<button type="submit" class="btn btn-primary">ツイート</button>
										<input type="hidden" th:name="${_csrf.parameterName}"
											th:value="${_csrf.token}" />
									</div>
								</div>
							</div>
						</div>
						<div th:switch="${favorite.userId}">
							<form action="timeLine/remove" method="POST">
								<a><input type="submit" name="remove" value="×" th:case="${login_user.userId}"/></a>
								<input type="hidden" name="remove_id" th:value="${favorite.tweetId}" />
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
							</form>
							<form action="timeLine/retweet" method="POST">
								<a><input type="submit" name="retweet" value="⇔" th:case="*"/></a>
								<input type="hidden" name="retweet_id" th:value="${favorite.retweetId}" />
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
							</form>
						</div>
						<form action="timeLine/favorite" method="POST">
							<a><input type="submit" name="favorite" value="☆" /></a> <input
								type="hidden" name="favorite_tweet_id"
								th:value="${favorite.retweetId}" /> <input type="hidden"
								th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						</form>
						<form action="timeLine/block" method="POST">
							<a><input type="submit" name="block" value="🚫" /></a> <input
								type="hidden" name="block_user_id" th:value="${favorite.retweet.user.userId}" />
						</form>
					</div>
					</div>
					<div th:unless="${favorite.retweetId}">
					<form action="timeLine/profile" method="POST">
						<div class="card-title">
							<span th:text="${favorite.user.userName}"></span> <input
								type="submit" name="timeLine_user_id"
								th:value="${favorite.userId}" /> <input type="hidden"
								th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						</div>
					</form>
					<div class="card-content">
						<a th:text="${favorite.detail}">detail</a> <input type="hidden"
							name="button_id" th:value="${favorite.tweetId}" />
					</div>
					<div class="card-button" style="display: inline-flex">
						<button type="submit" data-toggle="modal" data-target="#modal">⇒</button>

						<!-- 2.モーダルの配置 -->
						<div class="modal" id="modal" tabindex="-1">
							<div class="modal-dialog">
								<!-- 3.モーダルのコンテンツ -->
								<div class="modal-content">
									<!-- 4.モーダルのヘッダ -->
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal">
											<span aria-hidden="true">&times;</span>
										</button>
										<h4 class="modal-title" id="modal-label">
											<!-- <label for="recipient-name" class="control-label" id="recipient-name"></label>-->
											<span th:text="'@'+${favorite.userId}+'さんへの返信'"></span>
										</h4>
									</div>
									<!-- 5.モーダルのボディ -->
									<div class="modal-body">
										<textarea rows="3" class="form-control" id="recipient-name"
											name="tweet" th:text="'@'+${favorite.userId}"></textarea>
									</div>
									<!-- 6.モーダルのフッタ -->
									<div class="modal-footer">
										<button type="submit" class="btn btn-primary">ツイート</button>
										<input type="hidden" th:name="${_csrf.parameterName}"
											th:value="${_csrf.token}" />
									</div>
								</div>
							</div>
						</div>
						<!--<script type="text/javascript">
							$('#modal')
									.on(
											'show.bs.modal',
											function(event) {
												var button = $(event.relatedTarget) //モーダルを呼び出すときに使われたボタンを取得
												var recipient = button
														.data('id') //data-whatever の値を取得

												//Ajaxの処理はここに

												var modal = $(this) //モーダルを取得
												modal
														.find('.modal-title')
														.text(
																'@'
																		+ recipient
																		+ 'さんへの返信') //モーダルのタイトルに値を表示
												modal
														.find(
																'.modal-body textarea#recipient-name')
														.val('@'+recipient) //inputタグにも表示
											})
						</script>-->
						<form action="timeLine/retweet" method="POST">
							<a><input type="submit" name="retweet" value="⇔" /></a> <input
								type="hidden" name="retweet_id" th:value="${favorite.tweetId}" />
								<input type="hidden"
								th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						</form>
						<form action="timeLine/favorite" method="POST">
							<a><input type="submit" name="favorite" value="☆" /></a> <input
								type="hidden" name="favorite_tweet_id"
								th:value="${favorite.tweetId}" /> <input type="hidden"
								th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						</form>
						<div th:switch="${favorite.userId}">
							<form action="timeLine/remove" method="POST">
								<a><input type="submit" name="remove" value="×" th:case="${login_user.userId}"/></a>
								<input type="hidden" name="remove_id" th:value="${favorite.tweetId}"/>
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
							</form>
							<form action="timeLine/block" method="POST">
								<a><input type="submit" name="block" value="🚫" th:case="*"/></a> 
								<input type="hidden" name="block_user_id" th:value="${favorite.userId}" />
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
							</form>
						</div>
						</div>
					</div>
				</section>
					</div>
					<div id="tab5" class="tab">
						<p>(タブ5の中身。いくつでも増やせます。)</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div th:switch="${switch}">
					<form action="profile/login" method="POST">
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						<button class="btn btn-default" th:case="ログイン" >編集</button>
					</form>
					<form action="profile/reset" method="POST">
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						<input type="hidden" name="reset_user_id" th:value="${user.userId}" />
						<button class="btn btn-danger" th:case="フォロー済み">フォロー解除</button>
					</form>
					<form action="profile/following" method="POST">
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						<input type="hidden" name="following_user_id" th:value="${user.userId}" />
						<button class="btn btn-primary" th:case="未フォロー">フォローする</button>
					</form>
					<p th:case="*"></p>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		// デフォルトのタブを選択
		ChangeTab('tab1');
	</script>
</body>
</html>