<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="css/bootstrap.min.css" rel="stylesheet"></link>
<link href="css/profile.css" rel="stylesheet"></link>
<link href="css/search.css" rel="stylesheet"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">
	function ChangeTab(tabname) {
		// 全部消す
		document.getElementById('tweetTab').style.display = 'none';
		document.getElementById('followTab').style.display = 'none';
		document.getElementById('followerTab').style.display = 'none';
		document.getElementById('favoriteTab').style.display = 'none';
		document.getElementById('mediaTab').style.display = 'none';
		// 指定箇所のみ表示
		document.getElementById(tabname).style.display = 'block';
	}
</script>
<meta charset="UTF-8" />

<title th:text="${user.userName}+'(@'+${user.userId} +')さん'"></title>
</head>
<body bgcolor="#cccccc">
	<div th:replace="common/header :: header"></div>

	<!-- プロフィール（ヘッダ画像、ユーザアイコン） (start)-->
	<div class="fb-profile">
		<img align="left" class="fb-image-lg" th:src="${user.headPictureUrl}"
			alt="userHeaderImage" /> <img align="left"
			class="fb-image-profile thumbnail" th:src="${user.topPictureUrl}"
			alt="userTopImage" />
		<div class="fb-image-profile">
			<h1 th:text="${user.userName}"></h1>
			<h5 th:text="' @'+${user.userId}"></h5>
			<h5 th:text="${user.profile}"></h5>
		</div>
	</div>
	<!-- プロフィール（ヘッダ画像、ユーザアイコン） (end)-->
	
	<!-- ログインユーザーがブロックされている場合 -->
	<div th:if="${check}">
	
		<div style="position: absolute; top: 310px; left: 350px; font-size: 30px;" th:text="'ブロックされている為、@'+${user.userId}+'さんのフォローや@'+${user.userId}+'さんのツイートの表示はできません'"></div>
	</div>
	
	<!-- タブ表示改造テスト (start)-->
	<div th:unless="${check}">
	<div class="row">
		<div class="col-md-3"></div>
		<!-- absoluted で無理やり位置固定。ので画面の大きさを変えると崩れるぞ -->
		<div class="col-md-8"
			style="position: absolute; top: 310px; left: 350px;">
			<!-- Twitter風タブ(start) -->
			<div class="panel with-nav-tabs panel-default">
				<div class="panel-heading">
					<!-- 各タブの表示 -->
					<ul class="nav nav-tabs">
						<li class="active"><a href="#tweetTab" data-toggle="tab"
							onclick="ChangeTab('tweetTab'); return false;">ツイート<br></br>
								<span th:text="${count_tweet}"></span></a></li>
						<li><a href="#followTab" data-toggle="tab"
							onclick="ChangeTab('followTab'); return false;">フォロー<br></br>
								<span th:text="${count_follow}"></span></a></li>
						<li><a href="#followerTab" data-toggle="tab"
							onclick="ChangeTab('followerTab'); return false;">フォロワー<br></br>
								<span th:text="${count_follower}"></span></a></li>
						<li><a href="#favoriteTab" data-toggle="tab"
							onclick="ChangeTab('favoriteTab'); return false;">いいね<br></br>
								<span th:text="${count_favorite}"></span></a></li>
						<li><a href="#mediaTab" data-toggle="tab"
							onclick="ChangeTab('mediaTab'); return false;">メディア<br></br>
								<span th:text="${count_media}"></span></a></li>
					</ul>
				</div>
				<div class="panel-body">
					<!-- ツイートタブ -->
					<div class="tab-pane fade in active" id="tweetTab">
						<section class="card" th:each="tweet:${tweet}">
							<div th:if="${tweet.retweetId}">
								<div class="row">
									<div class="card-header">
										<div class="col-md-1"></div>
										<div class="col-md-1">
											<img src="img/retweet.png" alt="サンプル" width="20" height="20" />
										</div>
										<div class="col-md-10">
											<span th:text="${tweet.user.userName}+'さんがリツイートしました'"></span>
										</div>
									</div>
									<div class="col-md-2">
										<!-- ユーザアイコン -->
										<div class="thumbnail">
											<img th:src="${tweet.retweet.user.topPictureUrl}" />
										</div>

									</div>
									<div class="col-md-9">
										<form action="timeLine/profile" method="POST">


											<div class="card-title">
												<span th:text="${tweet.retweet.user.userName}"></span> <input
													type="submit" name="timeLine_user_id"
													th:value="${tweet.retweet.user.userId}" /> <input
													type="hidden" th:name="${_csrf.parameterName}"
													th:value="${_csrf.token}" />
											</div>

										</form>
										<div class="card-content">
											<div th:text="${tweet.retweet.detail}">detail</div>
											<input type="hidden" name="button_id"
												th:value="${tweet.retweetId}" />
											<!-- ツイート画像 -->
											<div>
												<div class="thumbnail" th:if="${tweet.retweet.mediaUrl}">
													<img th:src="${tweet.retweet.mediaUrl}" />
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-2"></div>
									<div class="col-md-9">
										<div class="col-md-3">
											<div class="card-button" style="display: inline-flex"></div>
											<a href="javascript:;" data-toggle="modal"
												th:attr="data-target='#modal'+${tweet.retweet.user.userId}"><img
												src="img/reply.png" width="30" height="30" /></a>
											<!-- <button type="submit" data-toggle="modal" data-target="#modal">⇒</button>-->
											<!-- 2.モーダルの配置 -->
											<div class="modal" th:id="'modal'+${tweet.user.userId}"
												tabindex="-1">
												<div class="modal-dialog">
													<!-- 3.モーダルのコンテンツ -->
													<div class="modal-content">
														<!-- 4.モーダルのヘッダ -->
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal">
																<span aria-hidden="true">&times;</span>
															</button>
															<h4 class="modal-title" id="modal-label">
																<!-- <label for="recipient-name" class="control-label" id="recipient-name"></label>-->
																<span
																	th:text="'@'+${tweet.retweet.user.userId}+'さんへの返信'"></span>
															</h4>
														</div>
														<!-- 5.モーダルのボディ -->
														<div class="modal-body">
															<textarea rows="3" class="form-control"
																id="recipient-name" name="tweet"
																th:text="'@'+${tweet.retweet.user.userId}"></textarea>
														</div>
														<!-- 6.モーダルのフッタ -->
														<div class="modal-footer">
															<button type="submit" class="btn btn-primary">ツイート</button>
															<input type="hidden" th:name="${_csrf.parameterName}"
																th:value="${_csrf.token}" />
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-3">
											<form action="timeLine/retweet" method="POST"
												th:name="'retweet'+${tweet.retweetId}">
												<div th:switch="${tweet.user.userId}">
													<a th:case="${login_user.userId}" href="javascript:void(0);" th:onClick="'document.retweet'+${tweet.retweetId}+'.submit();'" ><img src="img/retweet.png" width="30" height="30"/></a>
													<a th:case="*" href="javascript:;" th:onClick="'document.retweet'+${tweet.retweetId}+'.submit();'" ><img src="img/retweet.png" width="30" height="30"/></a>
												</div>
												<input type="hidden" name="retweet_id" th:value="${tweet.retweetId}" />
												<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
											</form>
										</div>
										<div class="col-md-3">
											<form action="timeLine/favorite" method="POST"
												th:name="'favorite'+${tweet.retweetId}">
												<a href="javascript:;"
													th:onClick="'document.favorite'+${tweet.retweetId}+'.submit();'"><img
													src="img/favorite.png" width="30" height="30" /></a> <input
													type="hidden" name="favorite_tweet_id"
													th:value="${tweet.retweetId}" /> <input type="hidden"
													th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
											</form>
										</div>
										<div class="col-md-3">
											<form action="timeLine/block" method="POST"
												th:name="'block'+${tweet.retweet.user.userId}">
												<a href="javascript:;"
													th:onClick="'document.block'+${tweet.retweet.user.userId}+'.submit();'"><img
													src="img/block.png" width="30" height="30" /></a> <input
													type="hidden" name="block_user_id"
													th:value="${tweet.retweet.user.userId}" /> <input
													type="hidden" th:name="${_csrf.parameterName}"
													th:value="${_csrf.token}" />
											</form>
										</div>
									</div>
								</div>

							</div>
							<div th:unless="${tweet.retweetId}">
								<div class="row">
									<div class="card-header" th:if="${tweet.replyId}">
										<div class="col-md-1"></div>
										<div class="col-md-1">
											<img src="img/reply.png" alt="サンプル" width="20" height="20" />
										</div>
										<div class="col-md-10">
											<span th:text="'返信先:'+${tweet.reply.user.userName}+'さん'"></span>
										</div>
									</div>
									<div class="col-md-2">
										<!-- ユーザアイコン -->
										<div class="thumbnail">
											<img th:src="${tweet.user.topPictureUrl}" />
										</div>

									</div>
									<div class="col-md-9">
										<form action="timeLine/profile" method="POST">

											<div class="card-title">
												<span th:text="${tweet.user.userName}"></span> <input
													type="submit" name="timeLine_user_id"
													th:value="${tweet.user.userId}" /> <input type="hidden"
													th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
											</div>

										</form>
										<div class="card-content">
											<div th:if="${tweet.replyId}">
												<form action="timeLine/profile" method="POST"
													th:name="${tweet.reply.user.userId}">
													<a href="javascript:;"
														th:onClick="'document.'+${tweet.reply.user.userId}+'.submit();'"><span
														th:text="'@'+${tweet.reply.user.userId}"></span></a> <input
														type="hidden" name="timeLine_user_id"
														th:value="${tweet.reply.user.userId}" /> <input
														type="hidden" th:name="${_csrf.parameterName}"
														th:value="${_csrf.token}" />
												</form>
											</div>
											<div th:text="${tweet.detail}">detail</div>
											<input type="hidden" name="button_id"
												th:value="${tweet.tweetId}" />
											<!-- ツイート画像 -->
											<div>
												<div class="thumbnail" th:if="${tweet.mediaUrl}">
													<img th:src="${tweet.mediaUrl}" />
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-2"></div>
									<div class="col-md-9">
										<div class="col-md-3">
											<div class="card-button" style="display: inline-flex"></div>
											<a href="javascript:;" data-toggle="modal"
												data-target="#modal"><img src="img/reply.png"
												width="30" height="30" /></a>
											<!-- <button type="submit" data-toggle="modal" data-target="#modal">⇒</button>-->
											<!-- 2.モーダルの配置 -->
											<div class="modal" id="modal" tabindex="-1">
												<div class="modal-dialog">
													<!-- 3.モーダルのコンテンツ -->
													<div class="modal-content">
														<!-- 4.モーダルのヘッダ -->
														<div class="modal-header">
															<button type="button" class="close" data-dismiss="modal">
																<span aria-hidden="true">&times;</span>
															</button>
															<h4 class="modal-title" id="modal-label">
																<!-- <label for="recipient-name" class="control-label" id="recipient-name"></label>-->
																<span th:text="'@'+${tweet.user.userId}+'さんへの返信'"></span>
															</h4>
														</div>
														<!-- 5.モーダルのボディ -->
														<div class="modal-body">
															<textarea rows="3" class="form-control"
																id="recipient-name" name="tweet"
																th:text="'@'+${tweet.user.userId}"></textarea>
														</div>
														<!-- 6.モーダルのフッタ -->
														<div class="modal-footer">
															<button type="submit" class="btn btn-primary">ツイート</button>
															<input type="hidden" th:name="${_csrf.parameterName}"
																th:value="${_csrf.token}" />
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-3">
											<form action="timeLine/retweet" method="POST"
												th:name="'retweet'+${tweet.tweetId}">
												<a href="javascript:;"
													th:onClick="'document.retweet'+${tweet.tweetId}+'.submit();'"><img
													src="img/retweet.png" width="30" height="30" /></a> <input
													type="hidden" name="retweet_id"
													th:value="${tweet.tweetId}" /> <input type="hidden"
													th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
											</form>
										</div>
										<div class="col-md-3">
											<form action="timeLine/favorite" method="POST"
												th:name="'favorite'+${tweet.tweetId}">
												<a href="javascript:;"
													th:onClick="'document.favorite'+${tweet.tweetId}+'.submit();'"><img
													src="img/favorite.png" width="30" height="30" /></a> <input
													type="hidden" name="favorite_tweet_id"
													th:value="${tweet.tweetId}" /> <input type="hidden"
													th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
											</form>
										</div>
										<div class="col-md-3">
											<form action="timeLine/block" method="POST" th:name="'block'+${tweet.user.userId}">
												<div th:switch="${tweet.user.userId}">
													<a th:case="${login_user.userId}" href="javascript:void(0);" th:onClick="'document.block'+${tweet.user.userId}+'.submit();'" ><img src="img/block.png" width="30" height="30"/></a>
													<a th:case="*" href="javascript:;" th:onClick="'document.block'+${tweet.user.userId}+'.submit();'" ><img src="img/block.png" width="30" height="30"/></a> 
												</div>
												<input
													type="hidden" name="block_user_id"
													th:value="${tweet.user.userId}" /> <input type="hidden"
													th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
											</form>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
					<!-- フォロータブ -->
					<div class="tab-pane fade in active" id="followTab">
						<!-- プロフィールカード -->
						<section class="twPc-div profile_card" th:each="follow:${follow}">
							<form action="timeLine/profile" method="POST"
								th:name="${follow.userId}">
								<!-- ユーザプロフィールカード (start)-->
								<div class="twPc-div">
									<!-- ユーザヘッダ画像 -->
									<a class="twPc-bg twPc-block"
										th:style="'background-image: url('+${follow.headPictureUrl}+');'"></a>
									<div>
										<!-- ユーザアイコン画像 -->
										<a th:title="${follow.userName}" href="javascript:;"
											th:onclick="'document.'+${follow.userId}+'.submit();'"
											class="twPc-avatarLink"> <img alt="topPicture"
											th:src="${follow.topPictureUrl}" class="twPc-avatarImg" /> <input
											type="hidden" name="user_id" th:value="${follow.userId}" />
											<input type="hidden" th:name="${_csrf.parameterName}"
											th:value="${_csrf.token}" />
										</a>
										<!-- ユーザ名、ユーザID -->
										<div class="twPc-divUser">
											<div class="twPc-divName">
												<a th:text="${follow.userName}"></a>
											</div>
											<input type="hidden" name="timeLine_user_id"
												th:value="${follow.userId}" /> <a
												th:text="'@'+${follow.userId}"></a>
										</div>
										<div class="twPc-divStats">
											<a th:text="${follow.profile}"></a>
										</div>
									</div>
								</div>
							</form>
						</section>
						<!-- プロフィールカード -->


					</div>
					<!-- フォロワータブ -->
					<div class="tab-pane fade" id="followerTab">
						<!-- プロフィールカード -->
						<section class="twPc-div profile_card"
							th:each="follower:${follower}">
							<form action="timeLine/profile" method="POST"
								th:name="${follower.userId}">
								<!-- ユーザプロフィールカード (start)-->
								<div class="twPc-div">
									<!-- ユーザヘッダ画像 -->
									<a class="twPc-bg twPc-block"
										th:style="'background-image: url('+${follower.headPictureUrl}+');'"></a>
									<div>
										<!-- ユーザアイコン画像 -->
										<a th:title="${follower.userName}" href="javascript:;"
											th:onclick="'document.'+${follower.userId}+'.submit();'"
											class="twPc-avatarLink"> <img alt="topPicture"
											th:src="${follower.topPictureUrl}" class="twPc-avatarImg" />
											<input type="hidden" name="user_id"
											th:value="${follower.userId}" /> <input type="hidden"
											th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
										</a>
										<!-- ユーザ名、ユーザID -->
										<div class="twPc-divUser">
											<div class="twPc-divName">
												<a th:text="${follower.userName}"></a>
											</div>
											<input type="hidden" name="timeLine_user_id"
												th:value="${follower.userId}" /> <a
												th:text="'@'+${follower.userId}"></a>
										</div>
										<div class="twPc-divStats">
											<a th:text="${follower.profile}"></a>
										</div>
									</div>
								</div>
							</form>
						</section>
					</div>
					<!-- いいねタブ -->
					<div class="tab-pane fade" id="favoriteTab">
						<section class="card" th:each="favorite:${favorite}">
							<div class="row">
								<div class="card-header" th:if="${favorite.replyId}">
									<div class="col-md-1"></div>
									<div class="col-md-1">
										<img src="img/reply.png" alt="サンプル" width="20" height="20" />
									</div>
									<div class="col-md-10">
										<span th:text="'返信先:'+${favorite.reply.user.userName}+'さん'"></span>
									</div>
								</div>
								<div class="col-md-2">
									<!-- ユーザアイコン -->
									<div class="thumbnail">
										<img th:src="${favorite.user.topPictureUrl}" />
									</div>

								</div>
								<div class="col-md-9">
									<form action="timeLine/profile" method="POST">

										<div class="card-title">
											<span th:text="${favorite.user.userName}"></span> <input
												type="submit" name="timeLine_user_id"
												th:value="${favorite.user.userId}" /> <input type="hidden"
												th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
										</div>

									</form>
									<div class="card-content">
										<div th:if="${favorite.replyId}">
											<form action="timeLine/profile" method="POST"
												th:name="${favorite.reply.user.userId}">
												<a href="javascript:;"
													th:onClick="'document.'+${favorite.reply.user.userId}+'.submit();'"><span
													th:text="'@'+${favorite.reply.user.userId}"></span></a> <input
													type="hidden" name="timeLine_user_id"
													th:value="${favorite.reply.user.userId}" /> <input
													type="hidden" th:name="${_csrf.parameterName}"
													th:value="${_csrf.token}" />
											</form>
										</div>
										<div th:text="${favorite.detail}">detail</div>
										<input type="hidden" name="button_id"
											th:value="${favorite.tweetId}" />
										<!-- ツイート画像 -->
										<div>
											<div class="thumbnail" th:if="${favorite.mediaUrl}">
												<img th:src="${favorite.mediaUrl}" />
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2"></div>
								<div class="col-md-9">
									<div class="col-md-3">
										<div class="card-button" style="display: inline-flex"></div>
										<a href="javascript:;" data-toggle="modal"
											data-target="#modal"><img src="img/reply.png" width="30"
											height="30" /></a>
										<!-- <button type="submit" data-toggle="modal" data-target="#modal">⇒</button>-->
										<!-- 2.モーダルの配置 -->
										<div class="modal" id="modal" tabindex="-1">
											<div class="modal-dialog">
												<!-- 3.モーダルのコンテンツ -->
												<div class="modal-content">
													<!-- 4.モーダルのヘッダ -->
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal">
															<span aria-hidden="true">&times;</span>
														</button>
														<h4 class="modal-title" id="modal-label">
															<!-- <label for="recipient-name" class="control-label" id="recipient-name"></label>-->
															<span th:text="'@'+${favorite.user.userId}+'さんへの返信'"></span>
														</h4>
													</div>
													<!-- 5.モーダルのボディ -->
													<div class="modal-body">
														<textarea rows="3" class="form-control"
															id="recipient-name" name="tweet"
															th:text="'@'+${favorite.user.userId}"></textarea>
													</div>
													<!-- 6.モーダルのフッタ -->
													<div class="modal-footer">
														<button type="submit" class="btn btn-primary">ツイート</button>
														<input type="hidden" th:name="${_csrf.parameterName}"
															th:value="${_csrf.token}" />
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-3">
										<form action="timeLine/retweet" method="POST"
											th:name="'retweet'+${favorite.tweetId}">
											<a href="javascript:;"
												th:onClick="'document.retweet'+${favorite.tweetId}+'.submit();'"><img
												src="img/retweet.png" width="30" height="30" /></a> <input
												type="hidden" name="retweet_id"
												th:value="${favorite.tweetId}" /> <input type="hidden"
												th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
										</form>
									</div>
									<div class="col-md-3">
										<form action="timeLine/favorite" method="POST"
											th:name="'favorite'+${favorite.tweetId}">
											<a href="javascript:;"
												th:onClick="'document.favorite'+${favorite.tweetId}+'.submit();'"><img
												src="img/favorite.png" width="30" height="30" /></a> <input
												type="hidden" name="favorite_tweet_id"
												th:value="${favorite.tweetId}" /> <input type="hidden"
												th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
										</form>
									</div>
									<div class="col-md-3">
										<form action="timeLine/block" method="POST"
											th:name="'block'+${favorite.userId}">
											<div th:switch="${favorite.user.userId}">
												<a th:case="${login_user.userId}" href="javascript:void(0);" th:onClick="'document.block'+${favorite.user.userId}+'.submit();'" ><img src="img/block.png" width="30" height="30"/></a>
												<a th:case="*" href="javascript:;" th:onClick="'document.block'+${favorite.user.userId}+'.submit();'" ><img src="img/block.png" width="30" height="30"/></a> 
											</div>
											<input
												type="hidden" name="block_user_id"
												th:value="${favorite.user.userId}" /> <input type="hidden"
												th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
										</form>
									</div>
								</div>
							</div>
						</section>
					</div>
					<!-- メディアタブ -->
					<div class="tab-pane fade" id="mediaTab">
						<section class="card" th:each="media:${media}">
							<div class="row">
								<div class="card-header" th:if="${media.replyId}">
									<div class="col-md-1"></div>
									<div class="col-md-1">
										<img src="img/reply.png" alt="サンプル" width="20" height="20" />
									</div>
									<div class="col-md-10">
										<span th:text="'返信先:'+${media.reply.user.userName}+'さん'"></span>
									</div>
								</div>
								<div class="col-md-2">
									<!-- ユーザアイコン -->
									<div class="thumbnail">
										<img th:src="${media.user.topPictureUrl}" />
									</div>

								</div>
								<div class="col-md-9">
									<form action="timeLine/profile" method="POST">

										<div class="card-title">
											<span th:text="${media.user.userName}"></span> <input
												type="submit" name="timeLine_user_id"
												th:value="${media.user.userId}" /> <input type="hidden"
												th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
										</div>

									</form>
									<div class="card-content">
										<div th:if="${media.replyId}">
											<form action="timeLine/profile" method="POST"
												th:name="${media.reply.user.userId}">
												<a href="javascript:;"
													th:onClick="'document.'+${media.reply.user.userId}+'.submit();'"><span
													th:text="'@'+${favorite.reply.user.userId}"></span></a> <input
													type="hidden" name="timeLine_user_id"
													th:value="${media.reply.user.userId}" /> <input
													type="hidden" th:name="${_csrf.parameterName}"
													th:value="${_csrf.token}" />
											</form>
										</div>
										<div th:text="${media.detail}">detail</div>
										<input type="hidden" name="button_id"
											th:value="${media.tweetId}" />
										<!-- ツイート画像 -->
										<div>
											<div class="thumbnail" th:if="${media.mediaUrl}">
												<img th:src="${media.mediaUrl}" />
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2"></div>
								<div class="col-md-9">
									<div class="col-md-3">
										<div class="card-button" style="display: inline-flex"></div>
										<a href="javascript:;" data-toggle="modal"
											data-target="#modal"><img src="img/reply.png" width="30"
											height="30" /></a>
										<!-- <button type="submit" data-toggle="modal" data-target="#modal">⇒</button>-->
										<!-- 2.モーダルの配置 -->
										<div class="modal" id="modal" tabindex="-1">
											<div class="modal-dialog">
												<!-- 3.モーダルのコンテンツ -->
												<div class="modal-content">
													<!-- 4.モーダルのヘッダ -->
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal">
															<span aria-hidden="true">&times;</span>
														</button>
														<h4 class="modal-title" id="modal-label">
															<!-- <label for="recipient-name" class="control-label" id="recipient-name"></label>-->
															<span th:text="'@'+${media.user.userId}+'さんへの返信'"></span>
														</h4>
													</div>
													<!-- 5.モーダルのボディ -->
													<div class="modal-body">
														<textarea rows="3" class="form-control"
															id="recipient-name" name="tweet"
															th:text="'@'+${media.user.userId}"></textarea>
													</div>
													<!-- 6.モーダルのフッタ -->
													<div class="modal-footer">
														<button type="submit" class="btn btn-primary">ツイート</button>
														<input type="hidden" th:name="${_csrf.parameterName}"
															th:value="${_csrf.token}" />
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-md-3">
										<form action="timeLine/retweet" method="POST"
											th:name="'retweet'+${media.tweetId}">
											<a href="javascript:;"
												th:onClick="'document.retweet'+${media.tweetId}+'.submit();'"><img
												src="img/retweet.png" width="30" height="30" /></a> <input
												type="hidden" name="retweet_id" th:value="${media.tweetId}" />
											<input type="hidden" th:name="${_csrf.parameterName}"
												th:value="${_csrf.token}" />
										</form>
									</div>
									<div class="col-md-3">
										<form action="timeLine/favorite" method="POST"
											th:name="'favorite'+${media.tweetId}">
											<a href="javascript:;"
												th:onClick="'document.favorite'+${media.tweetId}+'.submit();'"><img
												src="img/favorite.png" width="30" height="30" /></a> <input
												type="hidden" name="favorite_tweet_id"
												th:value="${media.tweetId}" /> <input type="hidden"
												th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
										</form>
									</div>
									<div class="col-md-3">
										<form action="timeLine/block" method="POST"
											th:name="'block'+${media.userId}">
											<div th:switch="${media.user.userId}">
												<a th:case="${login_user.userId}" href="javascript:void(0);" th:onClick="'document.block'+${media.user.userId}+'.submit();'" ><img src="img/block.png" width="30" height="30"/></a>
												<a th:case="*" href="javascript:;" th:onClick="'document.block'+${media.user.userId}+'.submit();'" ><img src="img/block.png" width="30" height="30"/></a> 
											</div>
											<input
												type="hidden" name="block_user_id"
												th:value="${media.user.userId}" /> <input type="hidden"
												th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
										</form>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div style="position: absolute; top: 310px; left: 1235px;">
		<div th:unless="${check}">
		<div th:if="${check2}">
			<form action="profile/unblock" method="POST">
				<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" /> <input type="hidden"
					name="reset_user_id" th:value="${user.userId}" />
				<button class="btn btn-danger">ブロック解除</button>
			</form>
		</div>
		<div th:unless="${check2}">
			<div th:switch="${switch}">
				<form action="profile/reset" method="POST">
					<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}" /> <input type="hidden"
						name="reset_user_id" th:value="${user.userId}" />
					<button class="btn btn-danger" th:case="フォロー済み">フォロー解除</button>
				</form>
				<form action="profile/following" method="POST">
					<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}" /> <input type="hidden"
						name="following_user_id" th:value="${user.userId}" />
					<button class="btn btn-primary" th:case="未フォロー">フォローする</button>
				</form>
				<p th:case="*"></p>
			</div>
		</div>
		</div>
	</div>

	<!-- タブ表示改造テスト (end)-->

	<script type="text/javascript">
		// デフォルトのタブを選択
		ChangeTab('tweetTab');
	</script>
</body>
</html>