<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="css/bootstrap.min.css" rel="stylesheet"></link>
<link href="css/loginForm.css" rel="stylesheet"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<title></title>
</head>
<body>

	<!-- 新設ログインフォーム(start) -->
	<div class="wrapper dark-header">
		<!-- ヘッダ領域(start) -->
		<header class="main-header">
			<div class="logo">システムにログイン</div>
			<div class="navbar navbar-static-top">
				<!-- アカウント作成ボタン -->
				<div class="btn-grps pull-right">
					<a th:href="@{/account/create(form)}"
						href="../account/createForm.html" class="pink-btn">アカウント新規作成</a>
				</div>
			</div>
		</header>
		<!-- ヘッダ領域(end) -->
		<!-- ログインフォーム領域(start) -->
		<section class="login-inner">
			<div class="login-middle">
				<div class="login-details">
					<!-- WOWロゴ表示 -->
					<div class="text-center">
						<img src="/img/wowLogo2.png" width="40%" />
					</div>
					<form th:action="@{/login}" method="POST">
						<!-- ユーザID入力欄 -->
						<label>ユーザID</label> <label> <input type="text"
							id="username" name="username" value="testuser"
							placeholder="ユーザID" /> <!-- パスワード入力欄 -->
						</label> <label>パスワード</label> <label> <input type="password"
							name="password" value="testpw" placeholder="パスワード" />
						</label>
						<!-- ログインボタン -->
						<div class="btn-sub text-center">
							<p th:if="${param.error}" style="color: red">ユーザIDもしくはパスワードが誤っています。</p>
							<button class="btn btn-primary" type="submit">ログイン</button>
						</div>
					</form>
				</div>
			</div>
		</section>
		<!-- ログインフォーム領域(end) -->
	</div>
	<!-- 新設ログインフォーム(end) -->


</body>
</html>